    <style>
        .header__content{
        width: 100%;
        height: 700px;
        background-image: url('https://i.postimg.cc/LsZ5ySXF/home-Slider.png');
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: flex-start;
        align-items: flex-start;
        padding-left: 10%;
    }
        .header__content .texto{
    text-align: left;
        }
    
        .welcome{
        width: 70%;
        margin: auto;
        text-align: center;
        
    }

.welcome h1{
    font-size: 40px;
    color: #47475b;
    padding-top: 5%;
}
section .welcome p{
    font-size: 30px;
    line-height: 1.4;
    color: #90909b;    
    padding-bottom: 5%;
}
section .welcome i{
    font-size: 30px;
}

/* Categorias */
.categorias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}
.categorias .caja{
    margin: 8px;
}

.tituloCategorias{
    width: 70%;
    margin: auto;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.tituloCategorias h1{
    font-size: 30px;
    color: #47475b;
}

/* Test */
.test{
    display: flex;
    /* flex-wrap: wrap; */
    padding-top: 185px;
    padding-bottom: 85px;
    
}
.test .caja{
    width: 100%;
    padding: 100px;
}
.caja.textoTest{
    background: black;
    color: white;
}
.caja p{
    font-size: 16pt;
}

#btn-negro{
    cursor: pointer;
    background-color: #E3B431;
    color: white;
    font-size: 12pt;
    border-radius: 3px;
    width: 200px;
    height: 50px;
}
#btn-negro:hover{
    background-color: white;
    color: black;
}

.jugar{
    background-color: #E3B431;
    border-radius: 40px;
    width: 200px;
    height: 200px;
    margin: 2%;
    padding: 2%;
    text-align: center;
    }

.jugar a {
    color:aliceblue;
    text-decoration: none;
    font-size: 17pt;
    padding: 5px;
    }

    </style>
    
    
    <header class="header">
        <div class="header__content">
            <div class="texto" >
                <span style="font-size: 25pt; font-weight: 600;">Tus habilidades
                </span><br>
                <span style="font-size: 50pt; font-weight: 800;">EN OTRO NIVEL
                </span><br>
                <span style="font-size: 20pt;">Tenemos un curso para cada necesidad. <br>Desde cocina profesional hasta cocina hogareña.</span> 
            </div>
        </div>
    </header>

    <section >
        <div class="welcome">
            <h1>Bienvenid@</h1>
            <p>Disfrutamos y compartimos el placer de cocinar. Creemos en la gastronomía como una manera de <i>transmitir sensaciones</i> y de reflejar el placer por la comida en todas sus vertientes. Por ello, queremos que disfrutes de nuestros talleres y que te dejes <i>envolver por la cocina por completo</i>, con todos los sentidos: el olfato, el oído, la vista, el tacto y, por supuesto, el paladar.</p>
            <i class="fas fa-arrow-down"></i>
        </div>
    </section>
    <hr>
    <div class="tituloCategorias"><h1>Categorías</h1></div>

    <div class="categorias main-padding">
            <div class="caja">
                <img src="https://i.postimg.cc/LsgPMZHJ/aves.png" alt="">
            </div>
            <div class="caja">
                <img src="https://i.postimg.cc/hGDG8md6/peces.png" alt="">
            </div>
            <div class="caja">
                <img src="https://i.postimg.cc/C57B4G4Q/panes.png" alt="">
            </div>
            <div class="caja">
                <img src="https://i.postimg.cc/zGVbnRHx/vegano.png" alt="">
            </div>
            <div class="caja">
                <img src="https://i.postimg.cc/0NSz4Rfm/postres.png" alt="">
            </div>
    </div>


    <div class="test main-padding">
        <div class="caja textoTest">
            <h1>¡Jugá con nosotrxs!</h1>
            <h3 style="margin-top: 30px; font-size: 20px">Animate a hacer el test para averiguar que tipo de Cheff sos. Respondé a las preguntas y anotá tu puntaje. Te va a ayudar a decidir a que tipos de cursos anotarte. </h3>

            <div class="jugar"><a href="/api/test"><img src="https://i.postimg.cc/XvF12qyb/cooking.png" style="width: 120px;">JUGAR</a>
        </div>  
    </div>

        
    </div>
