


    <header class="header">
        <div class="header__content">
            <div class="texto">
                <span>Tus habilidades
                </span><br>
                <span>EN OTRO NIVEL
                </span><br>
                <span>Tenemos un curso para cada necesidad. Desde co                                                                              cina profesional hasta cocina hogareña.</span> 
            </div>
        </div>
    </header>

    <section >
        <hr>
        <div class="welcome">
            <h1>Bienvenid@</h1>
            <p>Disfrutamos y compartimos el placer de cocinar. Creemos en la gastronomía como una manera de <i>transmitir sensaciones</i> y de reflejar el placer por la comida en todas sus vertientes. Por ello, queremos que disfrutes de nuestros talleres y que te dejes <i>envolver por la cocina por completo</i>, con todos los sentidos: el olfato, el oído, la vista, el tacto y, por supuesto, el paladar.</p>
            <i class="fas fa-arrow-down"></i>
        </div>
    </section>
    <hr>
    <div class="tituloCategorias"><h1>Categorías</h1></div>

    <div class="categorias main-padding">
            <div class="caja">
                <img src="/img/aves.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/peces.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/panes.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/vegano.png" alt="">
            </div>
            <div class="caja">
                <img src="/img/postres.png" alt="">
            </div>
    </div>


    <div class="lechuga main-padding">
        <div class="caja textoLechuga">
            <h1>Curso de Lechuga</h1>
            <h3 style="margin-top: 30px; font-size: 20px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel pellentesque quam. Vestibulum ut vehicula mauris. Pellentesque gravida libero sit amet lectus scelerisque luctus. Cras et ex varius, elementum turpis sit amet, feugiat felis. Fusce aliquam id sem non gravida. Aliquam nisi lorem, facilisis in pellentesque id, egestas quis nibh.</h3>
        <form class="d-flex" role="registrarse" method="get" action="/pages/lechuga.html">
            <button class="btn" type="submit" id="btn-negro">Empeza ahora</button>
        </form>
        <div style="margin-top: 50px">
          <h2>Dificultad: Media</h2>
        </div>
          <div style="margin-top: 15px; margin-bottom: 45px;">
            <div>
              <img src="./img/estrellaico.png">
              <img src="./img/estrellaico.png">
              <img src="./img/estrellaico.png">
              <img src="./img/emptyestrellaico.png">
              <img src="./img/emptyestrellaico.png">
            </div>
          </div>
          <div><img src="./img/mgico.png"><img src="./img/shareico.png"></div>
        </div>
        
        <div class="caja imagenLechuga">
            <img src="/img/lechuga.jpg" width="100%" alt="">
        </div>
    </div>

    <div class="tituloCategorias"><h1>¿Por qué estudiar con nosotros?</h1></div>    

    <div class="ico main-padding">
            <div class="caja">
                <img src="/img/relojico.png" alt="">
                <p>Tiempo</p>
            </div>
            <div class="caja">
                <img src="/img/mentorico.png" alt="">
                <p>Mentoría</p>
            </div>
            <div class="caja">
                <img src="/img/recetasico.png" alt="">
                <p>Recetas</p>
            </div>
            <div class="caja">
                <img src="/img/videoico.png" alt="">
                <p>Videos</p>
            </div>    
    </div>