<div class="container">
    <div class="mySlides">
        <img src="/img/panes.jpg" alt="imagen-1">
    </div>
    <div class="mySlides">
        <img src="/img/pasteleria.jpg" alt="imagen-2">
    </div>
    <div class="mySlides">
        <img src="/img/petitfours.jpg" alt="imagen-3">
    </div>
        
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <div class="elements">
        <span class="quadrate" onclick="currentSlide(1)"></span>
        <span class="quadrate" onclick="currentSlide(2)"></span>
        <span class="quadrate" onclick="currentSlide(3)"></span>
    </div>
</div>